<div class="container">
    <h1>Layout Personalizado</h1>
    <p>Se asignar el layout personalizado desde el controllador home.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Ok, entendido</a></p>
</div>
